{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- home banner section html start -->
{% include 'components/home/banner.html' %}
<!-- home banner section html end -->

<!-- home service section html start -->
{% include 'components/home/service.html' %}
<!-- home service section html end -->

<!-- home about section html start -->
{% include 'components/home/about.html' %}
<!-- home about section html end -->


<!-- home client section html start -->
<div class="client-section">
    <div class="container">
        <div class="client-wrap client-slider text-center">
            <div class="client-item">
                <figure>
                    <img src="{% static 'assets/img/agency-img4.png' %}" alt="">
                </figure>
            </div>
            <div class="client-item">
                <figure>
                    <img src="{% static 'assets/img/agency-img5.png' %}" alt="">
                </figure>
            </div>
            <div class="client-item">
                <figure>
                    <img src="{% static 'assets/img/agency-img6.png' %}" alt="">
                </figure>
            </div>
            <div class="client-item">
                <figure>
                    <img src="{% static 'assets/img/agency-img7.png' %}" alt="">
                </figure>
            </div>
            <div class="client-item">
                <figure>
                    <img src="{% static 'assets/img/agency-img8.png' %}" alt="">
                </figure>
            </div>
            <div class="client-item">
                <figure>
                    <img src="{% static 'assets/img/agency-img5.png' %}" alt="">
                </figure>
            </div>
        </div>
    </div>
</div>
<!-- home fact section html start -->
{% include 'components/home/fact.html' %}
<!-- home fact section html end -->

<!-- home gallery section html start -->
<section class="gallery-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12">
                <div class="section-head text-center">
                    <div class="divider-wrapper">
                        <span class="title-divider">
                            <span class="top-title">OUR PORTFOLIO</span>
                        </span>
                    </div>
                    <h2 class="section-title">
                        <span class="title-highlight">Activities </span>
                        We Completed
                    </h2>
                    <div class="section-disc">
                        <p>
                            Sint nascetur facere, delectus conubia consequuntur, nonummy distinctio! Non
                            officiis, id natus non nisl provident justo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery-inner">
            {% include 'components/all/projects.html' %}
        </div>
    </div>
</section>

<!-- home team section html start -->
{% include 'partials/team.html' %}
<!-- home team section html end -->

<!-- home testimonial section html start -->
{% include 'components/home/testimonial.html' %}
<!-- home testimonial section html end -->

<!-- home contact section html start -->
<section class="contact-section" id="contact-section"
    style="background-image: url({% static 'assets/img/agency-img29.jpg' %});">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="contact-section-head">
                    <div class="divider-wrapper">
                        <span class="title-divider">
                            <span class="top-title">CONTACT US</span>
                        </span>
                    </div>
                    <h2 class="section-title">
                        <span class="title-highlight">Contact </span>
                        & Join Together
                    </h2>
                    <div class="section-disc">
                        <p>
                            Sint nascetur facere, delectus conubia consequuntur, nonummy distinctio! Non
                            officiis, id natus non nisl provident justo.
                        </p>
                    </div>
                    <div class="contact-detail-wrapper">
                        <div class="contact-detail-container">
                            <div class="contact-icon">
                                <span>
                                    <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                </span>
                            </div>
                            <div class="contact-detail">
                                <h5>Office Address : </h5>
                                <span>Level 6, 541 St Kilda Road </span>
                                <span>Melbourne, VIC 3004</span>
                            </div>
                        </div>
                        <div class="contact-detail-container">
                            <div class="contact-icon">
                                <span>
                                    <i aria-hidden="true" class="icon icon-phone-call2"></i>
                                </span>
                            </div>
                            <div class="contact-detail">
                                <h5>Phone Number : </h5>
                                <span>Telephone : (+111)-1234-6985,</span>
                                <span>Mobile : (+01) 235 692 555</span>
                            </div>
                        </div>
                        <div class="contact-detail-container">
                            <div class="contact-icon">
                                <span>
                                    <i aria-hidden="true" class="icon icon-envelope11"></i>
                                </span>
                            </div>
                            <div class="contact-detail">
                                <h5>Mail Address :</h5>
                                <span><a href="https://demo.bosathemes.com/cdn-cgi/l/email-protection"
                                        class="__cf_email__"
                                        data-cfemail="3950575f56795d5654585057175a5654">[email&#160;protected]</a>
                                    ,</span>
                                <span><a href="https://demo.bosathemes.com/cdn-cgi/l/email-protection"
                                        class="__cf_email__"
                                        data-cfemail="fa9995978a9b9483ba9e95979b9394d4999597">[email&#160;protected]</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-image">
                    <img src="{% static 'assets/img/agency-img28.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="home-contact-form">
                    <h4 class="form-title">
                        Get In Touch !
                    </h4>
                    <p class="form-detail">
                        Vero id posuere tempus aspernatur quaerat mollis voluptatum eveniet porro
                    </p>
                    <form class="contact-form row">
                        <div class="col-12 form-height">
                            <input type="text" class="form-control" placeholder="Your Name*">
                        </div>
                        <div class="col-12 form-height">
                            <input type="email" class="form-control" placeholder="Your Email*">
                        </div>
                        <div class="col-sm-12 form-height">
                            <textarea placeholder="Enter message" rows="6"></textarea>
                        </div>
                        <div class="col-12 text-center text-md-start">
                            <button type="submit" class="button-round-primary">submit message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>

<div class="project-counter-section">
    <div class="container">
        <div class="counter-inner primary-bg">
            <div class="counter-item-wrap row">
                <div class="col-md-3 counter-item ">
                    <div class="project-icons">
                        <i aria-hidden="true" class="icon icon-Profile"></i>
                    </div>
                    <div class="counter-no">
                        <span class="counter">3</span>k+
                    </div>
                    <div class="Completed Projects">
                        Completed Projects
                    </div>
                </div>
                <div class="col-md-3 counter-item ">
                    <div class="project-icons">
                        <i aria-hidden="true" class="icon icon-User"></i>
                    </div>
                    <div class="counter-no">
                        <span class="counter">20</span>k+
                    </div>
                    <div class="Completed Projects">
                        Happy Customer
                    </div>
                </div>
                <div class="col-md-3 counter-item ">
                    <div class="project-icons">
                        <i aria-hidden="true" class="icon icon-trophy"></i>
                    </div>
                    <div class="counter-no">
                        <span class="counter">13</span>k+
                    </div>
                    <div class="Completed Projects">
                        Award Winning
                    </div>
                </div>
                <div class="col-md-3 counter-item ">
                    <div class="project-icons">
                        <i aria-hidden="true" class="icon icon-Rating"></i>
                    </div>
                    <div class="counter-no">
                        <span class="counter">99</span>%
                    </div>
                    <span class="Completed Projects">
                        Satisfaction Rate
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- home blog section html start -->
<section class="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-12">
                <div class="section-head text-center">
                    <div class="divider-wrapper">
                        <span class="title-divider">
                            <span class="top-title">OUR BLOGS</span>
                        </span>
                    </div>
                    <h2 class="section-title">
                        <span class="title-highlight">Blog </span>
                        & News From Us!
                    </h2>
                    <div class="section-disc">
                        <p>
                            Sint nascetur facere, delectus conubia consequuntur, nonummy distinctio! Non
                            officiis, id natus non nisl provident justo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-inner">
            <div class="row d-flex justify-content-center justify-content-xl-start">
                {% for post in posts %}
                <div class="col-md-6 col-lg-4 pe-sm-4 ps-sm-4 pe-3 ps-3">
                    <article class="post">
                        <figure class="feature-image">
                            <a href="single-blog.html">
                                <img src="{{ HTTP_HOST }}/media/{{ post.thumbnail }}" alt="">
                            </a>
                            <span class="cat-meta">
                                <a href="{% url 'blog.show' post.slug %}">{{ post.category }}</a>
                            </span>
                        </figure>
                        <div class="entry-content">
                            <h4>
                                <a href="{% url 'blog.show' post.slug %}">{{ post.title }}</a>
                            </h4>
                            <p>
                                {{ post.short_description | truncatechars:80 }}
                            </p>
                            <div class="readmore-btn">
                                <a href="single-blog.html">LEARN MORE..</a>
                            </div>
                        </div>

                    </article>
                </div>
                {% empty %}
                <div class="col-md-12">
                    <h4>No Posts Found!!</h4>
                </div>

                {% endfor %}


            </div>
        </div>
    </div>
</section>
<!-- home subscribe section html start -->
<section class="subscribe-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="subscribe-section-head">
                    <div class="divider-wrapper">
                        <span class="title-divider">
                            <span class="top-title">SUBSCRIBE</span>
                        </span>
                    </div>
                    <h2 class="section-title">
                        <span class="title-highlight">Subscribe </span>
                        To Get Latest Update From Us
                    </h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 d-flex align-items-end">
                <div class="subscribe-right-wrapper">
                    <div class="subscribe-info">
                        <p>
                            Officiis laboriosam provident harum asperiores occaecati qui! Enim elementum
                            illum, vivamus justo sed impedit aenean.
                        </p>
                    </div>
                    <form class="subscribe-form row">
                        <div class="col-sm-8 pe-1">
                            <input type="email" name="emails" placeholder="Your Email*" class="form-control">
                        </div>
                        <div class="col-sm-4 ps-1">
                            <button type="submit" class="button-round-primary">SIGN UP !</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}