{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Inner Banner html start-->
{% include 'partials/banner.html' with title=title %}
<!-- Inner Banner html end-->

<!-- blog archive start -->
<div class="archive-section blog-archive">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 primary right-sidebar">
                <!-- blog post item html start -->
                <div class="grid blog-inner row">
                    {% for post in posts %}
                    <div class="grid-item col-md-6">
                        <article class="post">
                            <figure class="feature-image">
                                <a href="{% url 'blog.show' post.slug %}">
                                    <img src="{{ HTTP_HOST }}/media/{{ post.thumbnail }}" alt="">
                                </a>
                                <span class="cat-meta">
                                    <a href="single-post.html">{{ post.category }}</a>
                                </span>
                            </figure>
                            <div class="entry-content">
                                <h4>
                                    <a href="{% url 'blog.show' post.slug %}">{{ post.title }}</a>
                                </h4>
                                <p>
                                    {{ post.short_description }}
                                </p>
                                <div class="readmore-btn">
                                    <a href="single-blog.html">LEARN MORE..</a>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% empty %}
                    <div class="grid-item col-md-12 ">
                        <h4 class="text-center pb-5">No Posts Found!!</h4>
                    </div>
                    {% endfor %}
                </div>
                <!-- blog post item html end -->
                <!-- pagination html start-->
                <div class="post-navigation-wrap">
                    <nav>
                        {% if posts.has_other_pages %}
                        <ul class="pagination">
                            {% if posts.has_previous %}
                            <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                            <li class="disabled"><a href="javascript:void(0)" class="disabled"><span>&laquo;</span></a>
                            </li>
                            {% endif %}
                            {% for i in posts.paginator.page_range %}
                            {% if posts.number == i %}
                            <li class="active"><a href="javascript:void(0)" class="disabled"><span>{{ i }} <span
                                            class="sr-only">(current)</span></span></a></li>
                            {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if posts.has_next %}
                            <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
                            {% else %}
                            <li class="disabled"><a href="javascript:void(0)" class="disabled"><span>&raquo;</span></a>
                            </li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </nav>
                </div>
                <!-- pagination html start-->
            </div>
            <div class="col-lg-4 secondary ps-lg-4">
                {% include 'partials/blog-sidebar.html' %}
            </div>
        </div>
    </div>
</div>
<!-- blog archive end -->

{% endblock %}