{% load static %}

<div class="sidebar">
    <aside class="widget">
        <div class="divider-wrapper">
            <span class="title-divider">
                <span class="top-title">CATEGORIES</span>
            </span>
        </div>
        <div class="widget-content">
            <ul class="category">
                <li><a href="{% url 'blog.index' %}" class="{% if slug == 'all' %}active{% endif %}">All Posts</a> <span>({{post_count}})</span></li>
                {% for category in categories %}
                <li><a href="{% url 'category.show' category.slug %}" class="{% if category.slug == slug %}active{% endif %}">{{ category.title }}</a> <span>({{ category.posts_count }})</span></li>
                {% endfor %}
            </ul>
        </div>
    </aside>

    <aside class="widget widget_latest_post widget-post-thumb">
        <div class="divider-wrapper">
            <span class="title-divider">
                <span class="top-title">RECENT POSTS</span>
            </span>
        </div>
        <ul>
            {% for recent_post in recent_posts %}
            <li>
                <figure class="post-thumb">
                    <a href="single-blog.html"><img src="{{ HTTP_HOST }}/media/{{ recent_post.thumbnail }}" alt=""></a>
                </figure>
                <div class="post-content">
                    <h5>
                        <a href="single-blog.html">{{ recent_post.title }}</a>
                    </h5>
                    <div class="entry-meta">
                        <span class="byline">
                            <a href="{% url 'category.show' recent_post.category.slug %}">{{ recent_post.category }}</a>
                        </span>
                        <span class="posted-on">
                            <small>{{ recent_post.created_at | date:'d M, Y' }}, {{ recent_post.created_at | timesince }} ago</small>
                        </span>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </aside>
    <aside class="widget widget_social">
        <div class="divider-wrapper">
            <span class="title-divider">
                <span class="top-title">FOLLOW US ON</span>
            </span>
        </div>
        <div class="social-icon-wrap">
            <div class="social-icon social-facebook">
                <a href="https://www.facebook.com/">
                    <i class="fab fa-facebook"></i>
                    <span>Facebook</span>
                </a>
            </div>
            <div class="social-icon social-pinterest">
                <a href="https://www.pinterest.com/">
                    <i class="fab fa-pinterest"></i>
                    <span>Pinterest</span>
                </a>
            </div>
            <div class="social-icon social-whatsapp">
                <a href="https://www.whatsapp.com/">
                    <i class="fab fa-whatsapp"></i>
                    <span>WhatsApp</span>
                </a>
            </div>
            <div class="social-icon social-linkedin">
                <a href="https://www.linkedin.com/">
                    <i class="fab fa-linkedin"></i>
                    <span>Linkedin</span>
                </a>
            </div>
            <div class="social-icon social-twitter">
                <a href="https://www.twitter.com/">
                    <i class="fab fa-twitter"></i>
                    <span>Twitter</span>
                </a>
            </div>
            <div class="social-icon social-google">
                <a href="https://www.google.com/">
                    <i class="fab fa-google-plus-g"></i>
                    <span>Google</span>
                </a>
            </div>
        </div>
    </aside>
</div>