{% load static %}

<section class="team-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-head text-center">
                    <div class="divider-wrapper">
                        <span class="title-divider">
                            <span class="top-title">OUR TEAM</span>
                        </span>
                    </div>
                    <h3 class="section-title">
                        <span class="title-highlight">Team </span>
                        Members
                    </h3>
                    <div class="section-disc">
                        <p>
                            Sint nascetur facere, delectus conubia consequuntur, nonummy distinctio! Non officiis, id
                            natus non nisl provident justo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-member">
            <div class="row">
                {% for team in teams %}
                <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 p-3 pb-0">
                    <div class="team-item">
                        <figure class="team-img">
                            <img src="{{ HTTP_HOST }}/media/{{ team.image }}" alt="">
                        </figure>
                        <div class="team-content">
                            <h4>
                                <a href="team-detail.html">{{ team.name }}</a>
                            </h4>
                            <span>{{ team.designation }}</span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="header-social social-links team-social-link">
                                <ul>
                                    <li>
                                        <a href="{{ team.facebook }}" target="_blank">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ team.twitter }}" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ team.linkedin }}" target="_blank">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ team.instagram }}" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>